<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ResultPage</title>
    <!-- <link rel="stylesheet" type="text/css" href="styleOne.css" /> -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <style>
        .para-image {
            background-image: url("/hands.jpg");

            font-size: 100px;
            color: #14141f;
            padding: 40px;


        }
    </style>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <meta charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>


</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">AccompanyME</a>
            </div>
            <ul class="nav navbar-nav">

                <li class="active"><a href="/home">Home</a></li>
                <li class="active"><a href="/about">About</a></li>



            </ul>
        </div>
    </nav>
    <br>
    <h1 class="para-image" align="center">Search Results</h1><br>

    <h1>About the AccompanyME Web Application</h1>
    <br><br>

    <b>
        <p align="justify">AccompanyME is a web application which lets users connect with each other without having to
            look around for groups or clubs where they can find a companion.
            The user information is displayed after a match has been found on a person who selected the same category,
            subcategory and generated the request from a location lesser than 10 miles from the other person who chose
            the same selection(category and subcategory) on the application.<br><br>
            
            Say for example a person wants to play baseball but none of his friends accompany him leaving him stranded
            and more often than not cancelling the plan . Using this application the user can find the other person who
            is interested in doing the same activity and gets his details via results page
            This application tries to bridge the gap between the users and helps them pursue their interest.

    </b><br><br></p>

    <div class="footer">
        <h5>
            <p align="left">AccompanyME</p>
        </h5>
    </div>


</body>
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;

        color: #47476b;
        padding: 1px;
        background-image: url("/grey2.jpg");
        color: white;
        text-align: center;
    }
</style>

</html>