<html>

<head>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <title>Sign in</title>

</head>

<body background="/hands.jpg">
    <body>
        <div class="LoginInfo">
            <h2 style="color: rgb(158, 177, 125);"> AccompanyMe</h2><br>
            <p>Welcome to AccompanyMe Web Application.<br> We help you to find companion from GWU family who can accompany you for a sport maybe a ping pong or other cool stuffs.<br>
            If you have not already signed up, go Signup and enjoy finding a companion who can join you with your area of interest! </p>
        </div>
            <div class="main">
                <section id="content">
                    <p class="sign" align="center">Sign in</p>
                    <form action="auth" method="POST">
                        <input class="un " type="text" align="center" placeholder="Username" name="username">
                        <input class="pass" type="password" align="center" placeholder="Password" name="password">
    
                        <!-- <input class="submit" align="center" value="Login" > -->
    
                       
                        <input type="submit" class="unone" value="Log-in"><br>
                        <p class="unone" align="center"><a href="sup" style="color:E2E2E5">Sign-up</p>
                        
                    </form>
                </section>
            </div>
        </body>
</body>

</html>