<!DOCTYPE HTML>
<html lang = "en">
  <head>
    <title>Search Page</title>
    <meta charset = "UTF-8" />
  </head>

  <body>
    <h1>SearchPage</h1>
    <script >
            document.body.innerHTML = "<h3>This is from script</h3>";
      </script>
    <form>
       <fieldset>
          <legend>Selecting elements</legend>
          <p>
             <label>Choose your category</label>
             <select id = "myList">
               <option value = "1">one</option>
               <option value = "2">two</option>
               <option value = "3">three</option>
               <option value = "4">four</option>
             </select>
          </p>
       </fieldset>
    </form>
  </body>

</html>